[Unit]
Description=Timer for checking if scheduled timeshift backup has been run
Requires=timeshiftBackupCheck.service

[Timer]
Unit=timeshiftBackupCheck.service
OnCalendar=*-*-* *:00:00

[Install]
WantedBy=timers.target
